*{
    font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;
    /* font-family: 'Macondo', cursive;   */
    /* font-family: 'Indie Flower', cursive;  */
    /* font-family: 'Akshar', sans-serif; */
    /* font-family: 'Artemis Deco', arial; */
    /* font-family: 'Akshar', sans-serif; */
    /* font-family: 'Akshar', sans-serif;  */
    /* font-family: 'Zen Loop', cursive; */
    /* font-family: 'BIZ UDPGothic', sans-serif; */
    margin: 0;
    padding: 0;
}
/* START STYLE FOR HEADER */
.header{
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 20px;
    background: #FF6A00;
    font-family: 'Zen Loop', cursive;
}
.imeg{
	background: url(./img/9.png);
	width: 100px;
	height: 100px;
    display: flex;
    margin-left: 20%;
}
.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto; 
    flex-direction: column;
}
.menu-item{
    list-style: none;
    margin-left: 10%;
    list-style-type: disc;
}
.menu-link{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    bottom: 0;
    font-family: 'Zen Loop', cursive;
}
.logo-title{
    font-family: 'Zen Loop', cursive;
}
/* END STYLE FOR HEADER */
/* START STYLE FOR BANNER */
.banner-section{
    background: url(./img/banner4.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    margin: 0;
}
.banner-title, .banner-description{
    text-align: center;
    color: #f86d2d;
}
.banner-title{
    font-size: 48px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #000000; 
    /* font-family: 'Akshar', sans-serif; */
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Macondo', cursive;
}
.banner-description{
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #000000;
}
/* END STYLE FOR BANNER */
/* START STYLE FOR CARDS */
.cards-section{
    padding: 50px 0;
    text-align: center;
}
.cards-title{
    text-align: center;
    color:#FF6A00;
    font-family: 'Macondo', cursive;
}
.card{
    width: 25%;
    /* box-shadow: сдвиг по Х, сдвиг по У, размытие, растяжение, цвет */
    box-shadow: 0px 2px 7px 0px #f86d2d; 
    margin-top: 25px;
    padding: 25px;
    text-align: center;
    /* Изменения от Алены */
    /* display: flex; */
}
.card-title, .card-text{
    margin-bottom: 10px;
    /* font-family: 'Akshar', sans-serif;  */
}
/* .card-text{
    
} */
.card-button{
    background: #FF6A00;
    padding: 10px 70px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

/* Изменения от Алены */
img{
    max-width: 200px;
    max-height: 200px;
}
/* Конец */

.card-link{
    color: white;
    text-decoration: none;
    align-content: stretch;
    
}
.cards-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

/* END STYLE FOR CARDS */
/* START STYLE FOR FOOTER */
.footer{
    background: url(./img/foot.png);
    background-size: cover;
    padding: 100px 0;
}
.footer-information{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon{
    margin-right: 50px;
	padding: 10px;
}
.icons{
    justify-content: flex-end;
}
.copyright{
    color: #f6f2f1;
	padding: 10px;
	
}
/* END STYLE FOR FOOTER */

/* Изменения от Алены */
.img-1{
    background: url("./records_min/1.jpg");
    width: 200px;
    height: 200px;
}
.img-1:hover{
    background: url("./records_min/2.jpg");
    width: 200px;
    height: 200px;
}

.img-2{
    background: url("./records_min/3.jpg");
    width: 200px;
    height: 200px;
}
.img-2:hover{
    background: url("./records_min/4.jpg");
    width: 200px;
    height: 200px;
}

.img-3{
    background: url("./records_min/5.jpg");
    width: 200px;
    height: 200px;
}
.img-3:hover{
    background: url("./records_min/6.jpg");
    width: 200px;
    height: 200px;
}

.img-4{
    background: url("./records_min/7.jpg");
    width: 200px;
    height: 200px;
}
.img-4:hover{
    background: url("./records_min/8.jpg");
    width: 200px;
    height: 200px;
}

.img-5{
    background: url("./records_min/9.jpg");
    width: 200px;
    height: 200px;
}
.img-5:hover{
    background: url("./records_min/10.jpg");
    width: 200px;
    height: 200px;
}

.img-6{
    background: url("./records_min/11.jpg");
    width: 200px;
    height: 200px;
}
.img-6:hover{
    background: url("./records_min/12.jpg");
    width: 200px;
    height: 200px;
}

.img-7{
    background: url("./records_min/13.jpg");
    width: 200px;
    height: 200px;
}
.img-7:hover{
    background: url("./records_min/14.jpg");
    width: 200px;
    height: 200px;
}
.img-8{
    background: url("./records_min/15.jpg");
    width: 200px;
    height: 200px;
}
.img-8:hover{
    background: url("./records_min/16.jpg");
    width: 200px;
    height: 200px;
}

.img-9{
    background: url("./records_min/17.jpg");
    width: 200px;
    height: 200px;
}
.img-9:hover{
    background: url("./records_min/18.jpg");
    width: 200px;
    height: 200px;
}

.img-10{
    background: url("./records_min/19.jpg");
    width: 200px;
    height: 200px;
}
.img-10:hover{
    background: url("./records_min/20.jpg");
    width: 200px;
    height: 200px;
}

.img-11{
    background: url("./records_min/21.jpg");
    width: 200px;
    height: 200px;
}
.img-11:hover{
    background: url("./records_min/22.jpg");
    width: 200px;
    height: 200px;
}

.img-12{
    background: url("./records_min/23.jpg");
    width: 200px;
    height: 200px;
}
.img-12:hover{
    background: url("./records_min/24.jpg");
    width: 200px;
    height: 200px;
}

.img-13{
    background: url("./records_min/25.jpg");
    width: 200px;
    height: 200px;
}
.img-13:hover{
    background: url("./records_min/26.jpg");
    width: 200px;
    height: 200px;
}

.img-14{
    background: url("./records_min/27.jpg");
    width: 200px;
    height: 200px;
}
.img-14:hover{
    background: url("./records_min/28.jpg");
    width: 200px;
    height: 200px;
}

.img-15{
    background: url("./records_min/29.jpg");
    width: 200px;
    height: 200px;
}
.img-15:hover{
    background: url("./records_min/30.jpg");
    width: 200px;
    height: 200px;
}

.img-16{
    background: url("./records_min/31.jpg");
    width: 200px;
    height: 200px;
}
.img-16:hover{
    background: url("./records_min/32.jpg");
    width: 200px;
    height: 200px;
}

.img-17{
    background: url("./records_min/33.jpg");
    width: 200px;
    height: 200px;
}
.img-17:hover{
    background: url("./records_min/34.jpg");
    width: 200px;
    height: 200px;
}

.img-18{
    background: url("./records_min/35.jpg");
    width: 200px;
    height: 200px;
}
.img-18:hover{
    background: url("./records_min/36.jpg");
    width: 200px;
    height: 200px;
}

.img-19{
    background: url("./records_min/37.jpg");
    width: 200px;
    height: 200px;
}
.img-19:hover{
    background: url("./records_min/38.jpg");
    width: 200px;
    height: 200px;
}

.img-20{
    background: url("./records_min/39.jpg");
    width: 200px;
    height: 200px;
}
.img-20:hover{
    background: url("./records_min/40.jpg");
    width: 200px;
    height: 200px;
}

.img-21{
    background: url("./records_min/41.jpg");
    width: 200px;
    height: 200px;
}
.img-21:hover{
    background: url("./records_min/42.jpg");
    width: 200px;
    height: 200px;
}


@media screen and (max-width: 850px) {
    .header{
        width: auto;
    }
    .container{
        flex-direction: column;
    }
    
    /* .header-menu{
       
    } */
    .header-row{
        display: flex;
        justify-content: center;
    }
    .cards-row{
        justify-content: center;
        flex-wrap: wrap;
    }
    .card, .img{
        width: auto;
    }
    .search,.footer-search-input,.footer-search-button,.social-networks{
        width: 100%;
        margin-bottom: 0px;
    }
    .footer-row,.footer-search{
        flex-wrap: wrap;
    }
    .footer-information, .icon{
        flex-wrap: wrap;
		bottom: auto;
    }
}
